name: Publish to PyPI

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  build-and-publish:
    name: Build and publish to PyPI
    runs-on: ubuntu-latest
    environment: release

    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.14'

      - name: Install build backend
        run: pip install build

      - name: Build sdist & wheel
        run: python -m build .

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@v1.8.11
